/*********************************** Main-slide-article ************************************/
.main__slide {
  padding-block: 30px;
  max-height: auto;
  background-color: var(--secondary-background);
}
.main__slide .container {
  align-items: center;
  gap: 130px;
}
.main__slide--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 77px;
  text-align: center;
}
.main__slide--description__title h1 {
  align-items: right;
  text-align: right;
}
.main__slide--description__title h5 {
  font-size: 2.6rem;
  align-items: right;
  text-align: right;
  color: var(--card-title);
}
