.books {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.books__item {

    display: flex;
    justify-content: space-between;
    gap: 10px
}

.books__item--detail {
    margin: 25px;
    padding: 25px;
    border: 1px solid var(--card-title);
    border-radius: 20px;
}

.books__item--detail h5 {
    padding-top: 25px;
}

.books__item--detail p {
    line-height: 35px;
}

.books__item--img {
    /* margin-top: 22px; */
    border-radius: 15px;
    width: 250px;
    height: 250px;
    float: right;
    padding: 20px;
}